flows/Referral_Decision.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Accept_Referral_Email_Alert</name>
        <label>Accept Referral Email Alert</label>
        <locationX>483</locationX>
        <locationY>395</locationY>
        <actionName>litify_pm__Referral__c.Accept_Referral</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Turn_Down_Referral_Email_Alert</name>
        <label>Turn Down Referral Email Alert</label>
        <locationX>972</locationX>
        <locationY>395</locationY>
        <actionName>litify_pm__Referral__c.Turn_Down_Referral</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Question_Answer</name>
        <label>Assign Question Answer</label>
        <locationX>1088</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>var_QuestionAnswer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_the_associated_Intake.litify_pm__Questions_and_answers__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Referral</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_Accept</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_TurnDown</name>
        <choiceText>Turn Down</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Turn Down</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check to see if the referral was turned down or not.</description>
        <name>Decision_Answer</name>
        <label>Decision Answer</label>
        <locationX>474</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Update_Referral_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accepted</defaultConnectorLabel>
        <rules>
            <name>Turned_Down_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turn Down</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_the_associated_Intake</targetReference>
            </connector>
            <label>Turned Down</label>
        </rules>
    </decisions>
    <decisions>
        <name>Intake_Found</name>
        <label>Intake Found?</label>
        <locationX>845</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Update_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Intake Found</defaultConnectorLabel>
        <rules>
            <name>Intake_was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_associated_Intake</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Question_Answer</targetReference>
            </connector>
            <label>Intake was Found</label>
        </rules>
    </decisions>
    <description>This flow will update the decision on the Referral and send out either an acceptance or turn down email alert.</description>
    <interviewLabel>Referral Decision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral Decision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Find the associated Intake and copy the Question / Answer into the Referral to use to merge from.</description>
        <name>Find_the_associated_Intake</name>
        <label>Find the associated Intake</label>
        <locationX>694</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intake_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_IntakeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Lookup the Referral Record to capture the Intake ID</description>
        <name>Get_Referral_Record</name>
        <label>Get Referral Record</label>
        <locationX>181</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referral_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>litify_pm__Referral__c</object>
        <outputAssignments>
            <assignToReference>var_IntakeID</assignToReference>
            <field>litify_pm__Intake__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update the Referral with the Question Answer from the Intake</description>
        <name>Update_Referral</name>
        <label>Update Referral</label>
        <locationX>972</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>Turn_Down_Referral_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>var_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Information_Collected__c</field>
            <value>
                <elementReference>var_QuestionAnswer</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Referral with the Question Answer from the Intake</description>
        <name>Update_Referral_0</name>
        <label>Update Referral</label>
        <locationX>481</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Accept_Referral_Email_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>var_EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Referral__c</object>
    </recordUpdates>
    <screens>
        <name>Referral_Details</name>
        <label>Referral Details</label>
        <locationX>331</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Answer</targetReference>
        </connector>
        <fields>
            <name>Firm_Email_Address</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Firm Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>firmname@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_EmailAddress</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Decision</name>
            <choiceReferences>ch_TurnDown</choiceReferences>
            <choiceReferences>ch_Accept</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Decision</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;This should be the email address that will receive the Acceptance or Rejection email. &lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Referral_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IntakeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_QuestionAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
